 <h2>My Students</h2>
  <ul class="Person">
    <li *ngFor="let Student1 of student"
        [class.selected]="Student1 === selectedStudent"
        (click)="onSelect(Student1)">
      <span class="badge">{{Student1.age}}</span> {{Student1.name}}
    </li>
  </ul>
  <div *ngIf="selectedStudent">
    <h2>{{selectedStudent.name | uppercase}} Details</h2>
    <div><span>Age: </span>{{selectedStudent.age}}</div>
    <div>
      <label for="hero-name">Student name: </label>
      <input id="hero-name" [(ngModel)]="selectedStudent.name" placeholder="name">
    </div>
  </div>
 <app-messages></app-messages>
